.header {
    padding: 0 1rem;
    .header-title {
        font-size: 40px;
        font-weight: bold;
    }
    
    .header-sub-content {
        font-size: 25px;
        margin: 1em 0 3em 0;
    }
}

.about {
    padding: 5rem 0;
    .row {
        .col-3   {
            text-align: center;
           .click-me {
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
           }

           .img-fluid {
               margin-top: 1.5rem;
           }
        }

        .col-9 {
            .box {
                background-color: #6C63FF;
                float: right;
                width: 80%;
                height: 150px;
                border-radius: 10px;
                color: #fafafa;
                font-size: 23;
                font-weight: 600;
                padding: 2rem 3rem;

                &.reverse {
                    color: #6C63FF !important;
                    background-color: #fafafa;
                    margin: 2rem 0;
                }

                span {
                    font-size: 26px;
                    padding: 1rem 0;
                }
            }
        }
    }
}

.contact-us {
    .row {
        .col-6 {
            .contact-us-title {
                font-size: 40px;
                font-weight: bold;
                padding: 0 4rem;
            }

            form {
                padding: 0 4rem;

                .form-control {
                    background-color: #fafafa;
                    color: #6C63FF;
                    font-weight: bold;
                    border: none;
                    box-shadow: 0 10px 8px #d0d0d0;
                    padding: 10px 10px;
                }

                textarea {
                    color: #6C63FF;
                    font-weight: bold;
                }

                .form-control::placeholder {
                    color: #6C63FF;
                    font-weight: bold;
                }
            }
        }
    }
}