.navbar {
    margin: 20px;
    .container {
        .navbar-nav {
            position: absolute;
            right: 10%;
            top: 30%;
            font-weight: 600;
        
            .active {
                color: #6C63FF !important;
            }
        
            .nav-link {
                margin: auto 1rem;
            }
        }
    }
}